[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

jupyterlab = "*"
jupyter-c-kernel = "*"
numpy = "*"
numba = "*"
xnd = "*"
ndtypes = "*"
gumath = "*"


[dev-packages]

